
.search_div1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.search_input {
  flex: 1;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 4px;
}

.search_btn {
  background-color: white;
  color: rgb(83, 10, 219);
  border: solid 1px;
  padding: 8px 14;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.search_btn:hover {
  background-color: rgb(83, 10, 219);
  border: solid rgb(83, 10, 219);
  color: white;
}
