body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

/*nav*/
.search_div {
    display: flex;
    height: 40px;
    margin-top: 10px;
}

.search_btn {
    background-color: white;
    color: rgb(83, 10, 219);
    border: solid 3px;
}

.search {
    color: rgb(83, 10, 219);
    border: solid 1px;
}

.search_btn:hover {
    background-color: rgb(83, 10, 219);
    border: solid rgb(83, 10, 219);
    color: white;
}



#intro {
    font-size: 20px;
    color: black;
    font-weight: 600;
    margin-left: 50px;
    margin-right: 50px;
}

.intro a {
    text-decoration-line: none;
}

#intro:hover {
    color: rgb(83, 10, 219);
}




.main_ {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 3px black;
    margin: 45px;
    margin-left: 50px;
    width: 1000px;
    height: 90px;
}

.main_div {
    display: flex;
}

.nav_ {
    margin-top: 25px;
    margin-left: 20px;
    background-color: black;
}

.main_nav {
    width: 700px;
    height: 100px;
}

#main_logo {
    width: 400px;
}

.href_a {
    display: flex;
}

.sign_a {
    margin-top: 10px;
    margin-left: 20px;
}

.sign_a a {
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-decoration-line: none;
}

.sign_a button {
    font-size: 20px;
    color: black;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-weight: 500;
}

.sign_a button:hover {
    font-size: 20px;
    color: rgb(83, 10, 219);
    font-weight: 500;
}

.sign_a a:hover {
    font-size: 20px;
    color: rgb(83, 10, 219);
    font-weight: 500;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
    color: rgb(83, 10, 219);
    font-size: 50px;
}

.logo {
    text-align: center;
}


/*회원가입*/
#send_mail {
    text-align: center;
    width: 249px;
    font-size: 15px;
    background-color: green;

    color: white;
    font-weight: 400;
}

.sign_btn {
    text-align: center;
    margin-bottom: 10px;
}

.sign_btn button {
    text-align: center;
    width: 249px;
    font-size: 20px;
    background-color: rgb(83, 10, 219);
    border-color: rgb(83, 10, 219);
    color: white;
    font-weight: 400;
}

.sign_ {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 440px;
    height: 600px;
    border: solid 4px black;
}

.signup_a {
    margin-bottom: 50px;
}

/*로그인*/
.login_ {
    text-align: center;
}

.kakao-login-img {
    margin-top: 10px;
    width: 60%;
}

.sign_input {
    /*div 가운데 정렬*/
    text-align: center;
}

.sign_input div {
    margin: 30px;
}

.sign_input input {
    font-size: 120%;
    text-align: center;
    border-color: rgb(83, 10, 219);
}

/* separator */

.nav-section {
    display: flex;
}

.separator main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.separator main section {
    width: 80%;
    max-width: 80%;
}

.separator main .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator main .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.separator .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: rgb(83, 10, 219);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.separator .output {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10%;
}