body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: var(--background-color2);
}


/*회원가입*/
#send_mail {
    text-align: center;
    width: 249px;
    font-size: 15px;
    background-color: green;

    color: white;
    font-weight: 400;
}

.sign_btn {
    text-align: center;
    margin-bottom: 10px;
}

.sign_btn button {
    text-align: center;
    width: 249px;
    font-size: 20px;
    background-color: rgb(83, 10, 219);
    border-color: rgb(83, 10, 219);
    color: white;
    font-weight: 400;
}

.sign_ {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 440px;
    height: 600px;
    border: solid 4px black;
    background-color: white;
}

.signup_ a {
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.signup_a a {
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

/*로그인*/
.login_ {
    text-align: center;
}

.google-login-img {
    margin-top: 10px;
    width: 82%;
    height: 54px;
}

.LoginPage_kkoLogin button {
    margin: 20px;
    width: 80%;
    height: 50px;
    font-size: 1.2em;
    background-color: var(--kakao-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.sign_input {
    /*div 가운데 정렬*/
    text-align: center;
}

.sign_input div {
    margin: 30px;
}

.sign_input input {
    font-size: 120%;
    text-align: center;
    border-color: rgb(83, 10, 219);
}